/* Put your CSS here */
.ember-application {
    margin: 20px;
}

/* Put your css in here */
form{margin-left: 120px;}
body{font-family: "Segoe UI",helvetica,arial,sans-serif;}
body{background-image:url('/assets/background.jpg');}
h2{font-weight:normal;}
.indent{margin-left:120px;}
.inline{margin-left: 105px;}
.list{list-style-type:none;}
.action{font-size:11px;background:transparent;}
.action-bar .action{margin-right:5px;visibility:hidden;}
.action-bar .assigned{visibility:visible;}
.action-bar:hover .action{visibility:visible;}

.completed{text-decoration: line-through;}

div.sheet {
padding: 30px 30px 30px 30px;
}

div.sheet {
min-height: 480px;
background: #fff;
-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.3);
-moz-box-shadow: 0 0 6px rgba(0,0,0,0.3);
box-shadow: 0 0 6px rgba(0,0,0,0.3);
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}


/*ul li form {display:none;}*/

ul li.editingproject form.project-form {display:block;} 
ul li span.project-display {display:block;}
ul li.editingproject span.project-display {display:none;}
.project-display:hover .action{visibility:visible;}

ul li.editinglist form.list-form {display:block;} 
ul li span.list-display {display:block;}
ul li.editinglist span.list-display {display:none;}
.list-display:hover .action{visibility:visible;}

ul li.editingtodo form.todo-form {display:block;}
ul li span.todo-display {display:block;}
ul li.editingtodo span.todo-display {display:none;}
.todo-display:hover .action{visibility:visible;}

ul li form.adding {display:block;}

.dialog{border:1px solid #ddd;}
.dialog form{display:block;}

div.assignment-dialog label{display:block;font-weight:bold;}

.ui-datepicker{font-size:11px;font-family: "Segoe UI",helvetica,arial,sans-serif;}