<div class="sheet">

  <h2>Projects <a class="action" ng-hide="addingProjectNow" href="#projects/add">Add a project</a></h2>
  
  <form ng-submit="add()" class="inline" ng-show="addingProjectNow">
    <input ng-model="newproject.name" auto-focus placeholder="Give the project a name">
	<input ng-model="newproject.description" placeholder="Enter a description">
    <button>Save</button> or <a href="#/">cancel</a>
  </form>
    
  <hr  />
  <ul class="list">
	<li ng-repeat="project in projects" ng-class="{editingproject: project == editedProject}">		
	<span class="project-display">
	<span class="action-bar">
            <a href="#projects/remove/{{project.id}}" class="action">delete</a>&nbsp;
            <a href="#projects/edit/{{project.id}}" class="action">edit</a>
    </span>
	<a href="#projects/{{project.id}}/lists">{{project.name}}</a>
	</span>
	
	<form ng-submit="doneEditing(project)" class="inline project-form">
        <input ng-model="project.name" auto-focus>
		<input ng-model="project.description">
        <button>Save</button> or <a href="" ng-click="revertEditing(project)">cancel</a>
    </form>
	
    </li>
  </ul>

  </div>