
<h1><a href="#/">{{project.name}}</a></h1>

<div class="sheet" ng-click="hideDialogs($event)">  
  <h2>To-do lists <a class="action" ng-hide="addingListNow" href="#projects/{{project.id}}/lists/add" >Add a to-do list</a></h2>
  <form ng-submit="addList()" class="inline" ng-show="addingListNow">
    <input ng-model="newlist.name" auto-focus placeholder="Give the list a title">
    <button>Save</button> or <a href="#projects/{{project.id}}/lists">cancel</a>
  </form>
    
  <hr  />  
  
  <ul class="list">
	<li ng-repeat="list in lists" ng-class="{editinglist: list == editedList}">	
	<span class="list-display">
	<span class="action-bar">
            <a class="action" href="#projects/{{project.id}}/lists/remove/{{list.id}}" >delete</a>&nbsp;
            <a class="action" href="#projects/{{project.id}}/lists/edit/{{list.id}}" >edit</a>
    </span>
	{{list.name}}
	</span>
	<form ng-submit="doneEditingList(line)" class="inline list-form">
        <input ng-model="list.name" auto-focus>
		<input ng-model="list.description">
        <button>Save</button> or <a href="#projects/{{project.id}}/lists/">cancel</a>
    </form>
	
    <ul class="list">
      <li ng-repeat="todo in list.todos" ng-class="{editingtodo: todo == list.editedTodo}">
        <span class="todo-display">
          <span class="action-bar">
            <a class="action" href="#projects/{{project.id}}/lists/{{list.id}}/todos/remove/{{todo.id}}">delete</a>&nbsp;
            <a class="action" href="#projects/{{project.id}}/lists/{{list.id}}/todos/edit/{{todo.id}}">edit</a>
          </span>
          <input type="checkbox" ng-model="todo.completed">
          <span ng-class="{completed:todo.completed}">{{todo.description}}</span>
          <span class="action-bar" >
          <a class="action dialog-open" ng-class="{assigned: todo.assigneduser || todo.duedate }" href="#projects/{{project.id}}/lists/{{list.id}}/todos/assign/{{todo.id}}">{{todo.getStatus()}}</a>
          <div class="assignment-dialog dialog" ng-show="todo.assigningTodo">
          <form>
            <label>Assign this to-do to:</label>
            <select ng-change="assign(todo)" ng-model="todo.assigneduser" ng-options="user.name for user in users">
              <option value="">Unassigned</option>
            </select>
            <label>Due Date</label>
            <input ng-model="todo.duedate" ng-change="assign(todo)" calendar></input>
          </form>
  
          </div>
          </span>
        </span>
        <form ng-submit="doneEditing(todo,list)" class="inline todo-form">
        <input ng-model="todo.description" auto-focus>
        <button>Save</button> or <a href="" ng-click="revertEditing(todo,list)">cancel</a>
        </form>
      </li>
    </ul>
  	
    <div class="indent" ng-hide="list.addingTodo">
    <a href="#projects/{{project.id}}/lists/{{list.id}}/todos/add">Add a to-do</a>
    </div>
    
	
    <form ng-submit="add(list)" class="adding" ng-show="list.addingTodo">
    <input type="text" auto-focus placeholder="Add a new to-do" ng-model="list.newtodo.description" />
    <br />
    <button>Add this to-do</button>
    or
    <a href="" ng-click="doneAdding(list)">I'm done adding to-dos</a>
    </form>
    </li>
  </ul>
 </div>