.view-project, .view-list, .view-todo{
	display:block;
}

.edit-project, .edit-list, .edit-todo{
	display:none;
}

.editing-project  .view-project,.editing-list  .view-list,.editing-todo  .view-todo  {
	display:none;
}
.editing-project  .edit-project, .editing-list  .edit-list, .editing-todo .edit-todo {
	display:block;
}

.add-project, .add-list, .add-todo{
	display:none;
}

.adding  .view-project, .adding  .view-list,.adding  .view-todo {
	display:none;
}
.adding  .add-project, .adding  .add-list, .adding  .add-todo {
	display:block;
}

form.edit-project{
	margin-left: 0px;
}

/*
form.edit-project  .form-control
{
	border-bottom: 1px dotted #ccc;
	border-left: none;
	border-right: none;
	border-top: none;
	box-shadow:none;
}
*/

#lists, #projects{
	margin: 30px;
}

#lists li, #projects li{
	margin: 10px;	
	border-bottom: 1px solid #aaa;
}

.todo-list{
	margin: 30px;
}

#lists .todo-list li{
	margin: 10px;	
	border-bottom: 0px;
}

form{margin-left: 120px;}
body{font-family: "Segoe UI",helvetica,arial,sans-serif;}
body{background-image:url('/assets/background.jpg');}
h2{font-weight:normal;}
h1,h2,h3,h4{color:black;}

div.sheet {
padding: 30px 30px 30px 30px;
}

div.sheet {
min-height: 480px;
background: #fff;
-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.3);
-moz-box-shadow: 0 0 6px rgba(0,0,0,0.3);
box-shadow: 0 0 6px rgba(0,0,0,0.3);
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

.project-card {
width: 210px;
height: 235px;
float: left;
margin: 0 20px 20px 0;
position: relative;
text-align: left;
background: #fff;
padding: 15px;
text-rendering: optimizeLegibility;
text-shadow: none;
-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.3);
-moz-box-shadow: 0 0 6px rgba(0,0,0,0.3);
box-shadow: 0 0 6px rgba(0,0,0,0.3);
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}




